
<center>

<div class = "info">
  <h1 class = "topheader">AUSTRALIAN SHEPHERD PUPS</h1>
      <br>

  <div class = "topdescription">Meet our beautiful purebred Australian Shepherd Mini's.  We have 7 available(4 males, 3 females).   Born May 28th.  Both Mother and Father are around 26lbs.  At maturity pups should range in size from 17lbs to 30lbs.  We elected not to dock the tails, all pups have beautiful tails with white tips.</div>
</div>

<br>
<br>






<div class = 'container1'>
  <br>
        <h1 class = "dogname"> MURPHY</h1>
          <div style= "width: 120px; background-color: lightgrey; height:auto; padding:8px">
           <span style = "color:white;font-size: 16pt"> SOLD </span> 
         </div>

        <br>

          <div class = "imgbackground">
             <%= image_tag("https://mont-general.s3-us-west-1.amazonaws.com/murphy.png", width: "95%", class: 'img') %> 
             <div style = "color:white;padding:8px"> 
               Murphy is a small male blue merle,  he is full of energy, blue eyes, white front paws/lower legs.
             </div>
          </div>

        <br>


    <div class = 'description'>



        <div class = "bottomdescription">

            <br>


            First Round of Immmunizations: <span style = "color:white">  Complete  </span>

            <br>

            Veterinary Clean Bill of Health Issued: <span style = "color:white">  Yes </span>

            <br>


            Date Available: <span style = "color:white"> July, 28th </span>

            <br>

            Price: <span style = "color:white"> $1,200 </span>
      </div>

    </div>
      <br>
</div>



<br>
<br>

<div class = 'container1'>
  <br>
      <h1 class = "dogname">BOLT</h1>

        <div style= "width: 120px; background-color: lightgrey; height:auto; padding:8px">
         <span style = "color:white"> AVAILABLE</span> 
       </div>

        <br>

          <div class = "imgbackground">
             <%= image_tag("https://mont-general.s3-us-west-1.amazonaws.com/football.png", width: "95%", class: 'img') %> 
              <div style = "color:white;padding:8px"> 
               Bolt  is a large black tri male,  he is full of confidence, brown eyes, beautiful symetrical markings, although born last, he is the leader of the pack.
             </div>
          </div>

        <br>


    <div class = 'description'>



        <div class = "bottomdescription">

            <br>


            First Round of Immmunizations: <span style = "color:white">  Complete  </span>

            <br>

            Veterinary Clean Bill of Health Issued: <span style = "color:white">  Yes </span>

            <br>


            Date Available: <span style = "color:white"> July, 28th </span>

            <br>

            Price: <span style = "color:white"> $1,200 </span>
      </div>

    </div>
  <br>
</div>
 
 <br>
 <br>



 <div class = 'container1'>
    <br>
         <h1 class= "dogname">PRADA </h1>

           <div style= "width: 120px; background-color: lightgrey; height:auto; padding:8px">
             <span style = "color:white"> AVAILABLE</span> 
          </div>

         <br>

           <div class = "imgbackground">
              <%= image_tag("https://mont-general.s3-us-west-1.amazonaws.com/leopard+girl.png", width: "95%", class: 'img') %> 
               <div style = "color:white;padding:8px"> 
                Prada is a black tri female,  she is moderately tempered and loving, dark eyes, white front paws/lower legs.
              </div>
           </div>

         <br>


     <div class = 'description'>



         <div class = "bottomdescription">

             <br>


             First Round of Immmunizations: <span style = "color:white">  Complete  </span>

             <br>

             Veterinary Clean Bill of Health Issued: <span style = "color:white">  Yes </span>

             <br>


             Date Available: <span style = "color:white"> July, 28th </span>

             <br>

             Price: <span style = "color:white"> $1,200 </span>
       </div>

     </div>
    <br>
 </div>
  
  <br>
  <br>






  <div class = 'container1'>
      <br>
         <h1 class= "dogname"> FANTA</h1>
           <div style= "width: 120px; background-color: lightgrey; height:auto; padding:8px">
           <span style = "color:white">SOLD</span> 
         </div>

          <br>

            <div class = "imgbackground">
               <%= image_tag("https://mont-general.s3-us-west-1.amazonaws.com/fanta.png", width: "95%", class: 'img') %> 
                <div style = "color:white;padding:8px"> 
                 Fanta is a small black tri female,  she is calm and cautious.
               </div>
            </div>

          <br>


      <div class = 'description'>



          <div class = "bottomdescription">

              <br>


              First Round of Immmunizations: <span style = "color:white">  Complete  </span>

              <br>

              Veterinary Clean Bill of Health Issued: <span style = "color:white">  Yes </span>

              <br>


              Date Available: <span style = "color:white"> July, 28th </span>

              <br>

              Price: <span style = "color:white"> $1,200 </span>
        </div>

      </div>
        <br>
  </div>
   
   <br>
   <br>






   <div class = 'container1'>
      <br>
          <h1 class= "dogname">JACK</h1>
            <div style= "width: 120px; background-color: lightgrey; height:auto; padding:8px">
              <span style = "color:white"> AVAILABLE </span> 
            </div>


           <br>

             <div class = "imgbackground">
                <%= image_tag("https://mont-general.s3-us-west-1.amazonaws.com/jack.png", width: "95%", class: 'img') %> 
                   <div style = "color:white;padding:8px"> 
                    Jack, is a large black tri male, very playful, fluffy and goofy, white front paws/lower legs.
                  </div>
             </div>

           <br>


       <div class = 'description'>



           <div class = "bottomdescription">

               <br>


               First Round of Immmunizations: <span style = "color:white">  Complete  </span>

               <br>

               Veterinary Clean Bill of Health Issued: <span style = "color:white">  Yes </span>

               <br>


               Date Available: <span style = "color:white"> July, 28th </span>

               <br>

               Price: <span style = "color:white"> $1,200 </span>
         </div>

       </div>
        <br>
   </div>
    
    <br>
    <br>




    <div class = 'container1'>
        <br>
           <h1 class= "dogname"> STAR</h1>
              <div style= "width: 120px; background-color: lightgrey; height:auto; padding:8px">
                <span style = "color:white"> AVAILABLE </span> 
              </div>

            <br>

              <div class = "imgbackground">
                 <%= image_tag("https://mont-general.s3-us-west-1.amazonaws.com/star.png", width: "95%", class: 'img') %> 
                    <div style = "color:white;padding:8px"> 
                     Star is a small female blue merle,  she is very loving and will smother you with kisses, she has one blue eye and one brown eye.
                   </div>
              </div>

            <br>


        <div class = 'description'>



            <div class = "bottomdescription">

                <br>


                First Round of Immmunizations: <span style = "color:white">  Complete  </span>

                <br>

                Veterinary Clean Bill of Health Issued: <span style = "color:white">  Yes </span>

                <br>



                Date Available: <span style = "color:white"> July, 28th </span>

                <br>

                Price: <span style = "color:white"> $1,200 </span>
          </div>

        </div>
        <br>
    </div>
     
     <br>
     <br>





     <div class = 'container1'>
        <br>
            <h1 class = "dogname">MINECRAFT</h1>
             <div style= "width: 120px; background-color: lightgrey; height:auto; padding:8px">
              <span style = "color:white">AVAILABLE</span> 
            </div>

             <br>

               <div class = "imgbackground">
                  <%= image_tag("https://mont-general.s3-us-west-1.amazonaws.com/minecraft2.png", width: "95%", class: 'img') %> 
                     <div style = "color:white;padding:8px"> 
                      Minecraft  is a small black tri male,  he is very sweet.  Very rare eye combination for a non-Merle ~ one dark eye & one blue eye, white paws, brown/lower legs.
                    </div>

               </div>
             <br>


         <div class = 'description'>



             <div class = "bottomdescription">

                 <br>


                 First Round of Immmunizations: <span style = "color:white">  Complete  </span>

                 <br>

                 Veterinary Clean Bill of Health Issued: <span style = "color:white">  Yes </span>

                 <br>


                 Date Available: <span style = "color:white"> July, 28th </span>

                 <br>

                 Price: <span style = "color:white"> $1,200 </span>
           </div>

         </div>

     </div>
      
      <br>
      <hr>
      <hr>
      <br>


     <div class = 'container1'>
        <br>
            <h1 class= "dogname">ROXY</h1>

             <br>

               <div class = "imgbackground">
                  <%= image_tag("https://mont-general.s3-us-west-1.amazonaws.com/roxy.png", width: "95%", class: 'img') %> 

                 <br>

                   <div style = "color:white;padding:8px"> 
                       This is their Mother (Roxy) she is a blue merle, smart, loyal, athletic.  She is absolutly the greatest dog we've had and the inspiration to breed and pass on some of her awesomeness to the next generation of Aussies.
                   </div>

              </div>



     </div>
      
      <br>
      <br>


</center>







<div class = "info">
<h4>PLEASE CONTACT US IF YOU'D LIKE TO SCHEDULE A TIME TO SEE THEM </h4>
<h4>kmontgomery15@gmail.com </h4>
<h4>801-473-1024</h4>
</div>




