
<center>

<div class = "info">
  <h1 style = "font-family:Impact">AUSTRALIAN SHEPHERD PUPS</h1>
      <br>

  <h3>Meet our beautiful purebred Australian Shepherd Mini's.  We have 7 available(4 males, 3 females).   Born May 28th.  Both Mother and Father are around 26lbs.  At maturity pups should range in size from 17lbs to 30lbs.  We elected not to dock the tails, all pups have beautiful tails with white tips.</h3>
</div>

<br>
<br>






<div class = 'container1'>
        <h1 style= "color:white;font-family:Impact"> MURPHY</h1>
         <h2 style= "color:white;font-family:Impact">Availablity: &nbsp;: <span style = "color:white"> SOLD </span> </h3>

        <br>

          <div class = "imgbackground">
             <%= image_tag("https://mont-general.s3-us-west-1.amazonaws.com/murphy.png", width: "95%", class: 'img') %> 
             <div style = "color:white;"> 
               Murphy is a small male Blue Merle,  he is full of energy, blue eyes, white front paws/lower legs.
             </div>
          </div>

        <br>


    <div class = 'description'>



        <div style = "width: 600px;text-align: left">

            <br><br>


            First Round of Immmunizations: <span style = "color:white">  Complete  </span>

            <br>

            Veterinary Clean Bill of Health Issued: <span style = "color:white">  Yes </span>

            <br>


            Date Available: <span style = "color:white"> July, 28th </span>

            <br>

            Price: <span style = "color:white"> $1,200 </span>
      </div>

    </div>

</div>



<br>

<div class = 'container1'>
      <h1 style= "color:white;font-family:Impact">FOOTBALL</h1>
         <h2 style= "color:white;font-family:Impact">Availablity: &nbsp; <span style = "color:white"> NOT SOLD </span> </h3>

        <br>

          <div class = "imgbackground">
             <%= image_tag("https://mont-general.s3-us-west-1.amazonaws.com/football.png", width: "95%", class: 'img') %> 
             <div style = "color:white;"> 
               Football  is a large male,  he is full of confidence, brown eyes, beautiful symetrical markings, although born last, he is the leader of the pack.
             </div>
          </div>

        <br>


    <div class = 'description'>



        <div style = "width: 600px;text-align: left">

            <br><br>


            First Round of Immmunizations: <span style = "color:white">  Complete  </span>

            <br>

            Veterinary Clean Bill of Health Issued: <span style = "color:white">  Yes </span>

            <br>


            Date Available: <span style = "color:white"> July, 28th </span>

            <br>

            Price: <span style = "color:white"> $1,200 </span>
      </div>

    </div>

</div>
 
 <br>



 <div class = 'container1'>
         <h1 style= "color:white;font-family:Impact">LEOPARD </h1>
         <h2 style= "color:white;font-family:Impact">Availablity: &nbsp; <span style = "color:white"> NOT SOLD</span> </h3>

         <br>

           <div class = "imgbackground">
              <%= image_tag("https://mont-general.s3-us-west-1.amazonaws.com/leopard+girl.png", width: "95%", class: 'img') %> 
              <div style = "color:white;"> 
                Leopard is a female,  she is moderately tempered and loving, dark eyes, white front paws/lower legs.
              </div>
           </div>

         <br>


     <div class = 'description'>



         <div style = "width: 600px;text-align: left">

             <br><br>


             First Round of Immmunizations: <span style = "color:white">  Complete  </span>

             <br>

             Veterinary Clean Bill of Health Issued: <span style = "color:white">  Yes </span>

             <br>


             Date Available: <span style = "color:white"> July, 28th </span>

             <br>

             Price: <span style = "color:white"> $1,200 </span>
       </div>

     </div>

 </div>
  
  <br>






  <div class = 'container1'>
         <h1 style= "color:white;font-family:Impact"> FANTA</h1>
           <h2 style= "color:white;font-family:Impact">Availablity: &nbsp;<span style = "color:white">SOLD</span> </h3>

          <br>

            <div class = "imgbackground">
               <%= image_tag("https://mont-general.s3-us-west-1.amazonaws.com/fanta.png", width: "95%", class: 'img') %> 
               <div style = "color:white;"> 
                 Fanta is a small female,  she is calm and cautious.
               </div>
            </div>

          <br>


      <div class = 'description'>



          <div style = "width: 600px;text-align: left">

              <br><br>


              First Round of Immmunizations: <span style = "color:white">  Complete  </span>

              <br>

              Veterinary Clean Bill of Health Issued: <span style = "color:white">  Yes </span>

              <br>


              Date Available: <span style = "color:white"> July, 28th </span>

              <br>

              Price: <span style = "color:white"> $1,200 </span>
        </div>

      </div>

  </div>
   
   <br>






   <div class = 'container1'>
          <h1 style= "color:white;font-family:Impact">JACK</h1>
            <h2 style= "color:white;font-family:Impact">Availablity: &nbsp; <span style = "color:white"> NOT SOLD </span> </h3>

           <br>

             <div class = "imgbackground">
                <%= image_tag("https://mont-general.s3-us-west-1.amazonaws.com/jack.png", width: "95%", class: 'img') %> 
                  <div style = "color:white;"> 
                    Jack, is a large male, very playful and goofy, white front paws/lower legs.
                  </div>
             </div>

           <br>


       <div class = 'description'>



           <div style = "width: 600px;text-align: left">

               <br><br>


               First Round of Immmunizations: <span style = "color:white">  Complete  </span>

               <br>

               Veterinary Clean Bill of Health Issued: <span style = "color:white">  Yes </span>

               <br>


               Date Available: <span style = "color:white"> July, 28th </span>

               <br>

               Price: <span style = "color:white"> $1,200 </span>
         </div>

       </div>

   </div>
    
    <br>




    <div class = 'container1'>
           <h1 style= "color:white;font-family:Impact"> STAR</h1>
             <h2 style= "color:white;font-family:Impact">Availablity: &nbsp;<span style = "color:white"> NOT SOLD </span> </h3>

            <br>

              <div class = "imgbackground">
                 <%= image_tag("https://mont-general.s3-us-west-1.amazonaws.com/star.png", width: "95%", class: 'img') %> 
                   <div style = "color:white;"> 
                     Star is a female Blue Merle,  she is very loving and will smother you with kisses, she has one blue eye and one brown eye.
                   </div>
              </div>

            <br>


        <div class = 'description'>



            <div style = "width: 600px;text-align: left">

                <br><br>


                First Round of Immmunizations: <span style = "color:white">  Complete  </span>

                <br>

                Veterinary Clean Bill of Health Issued: <span style = "color:white">  Yes </span>

                <br>



                Date Available: <span style = "color:white"> July, 28th </span>

                <br>

                Price: <span style = "color:white"> $1,200 </span>
          </div>

        </div>

    </div>
     
     <br>



     <div class = 'container1'>
            <h1 style= "color:white;font-family:Impact">MINECRAFT</h1>
             <h2 style= "color:white;font-family:Impact">Availablity: &nbsp;<span style = "color:white">NOT SOLD</span> </h3>

             <br>

               <div class = "imgbackground">
                  <%= image_tag("https://mont-general.s3-us-west-1.amazonaws.com/minecraft2.png", width: "95%", class: 'img') %> 
                    <div style = "color:white;"> 
                      Minecraft  is a small male,  he is very sweet.  Very rare eye combination for a non-Merle ~ one dark eye & one blue eye, white paws, brown/lower legs.
                    </div>

               </div>
             <br>


         <div class = 'description'>



             <div style = "width: 600px;text-align: left">

                 <br><br>


                 First Round of Immmunizations: <span style = "color:white">  Complete  </span>

                 <br>

                 Veterinary Clean Bill of Health Issued: <span style = "color:white">  Yes </span>

                 <br>


                 Date Available: <span style = "color:white"> July, 28th </span>

                 <br>

                 Price: <span style = "color:white"> $1,200 </span>
           </div>

         </div>

     </div>
      
      <br>
      <hr>
      <hr>
      <br>


     <div class = 'container1'>
            <h1 style= "color:white;font-family:Impact">ROXY</h1>

             <br>

               <div class = "imgbackground">
                  <%= image_tag("https://mont-general.s3-us-west-1.amazonaws.com/roxy.png", width: "95%", class: 'img') %> 

                 <br>

                   <div style = "color:white;"> 
                       This is the Mother (Roxy) she is a Blue Merle, smart, loyal, athletic.  She is absolutly the greatest dog we've had and the inspiration to breed and pass on some of her awesomeness to the next generation.
                   </div>

              </div>



     </div>
      
      <br>
      <br>


</center>







<div class = "info">
<h4>PLEASE CONTACT US IF YOU'D LIKE TO SCHEDULE A TIME TO SEE THEM </h4>
<h4>kmontgomery15@gmail.com </h4>
<h4>801-473-1024</h4>
</div>










<style>



.info{
    padding:50px;
     margin:10px;
     background-color: lightgrey;
     font-family: Arial;
}

.img{
  max-width: 600px;
  margin: 12px;

}

.imgbackground{
   background-color: lightgrey;
   padding: 5px;
    max-width: 610px;
    width: 98%;
}

.container1{

  padding:20px;
  margin:10px;
  background-color: grey;
  font-family: Arial;
}


.description{
  font-size: 13pt;

}


  </style>